/**
 * Syntax highlighting styles
 */
.highlight {
    background: #eee;
    @extend %vertical-rhythm;

    .c     { color: #5f5a60; font-style: italic } // Comment
    .err   { border:#B22518 } // Error
    .k     { color: #cda869; font-weight: bold } // Keyword
    .o     { color: #aa22ff; font-weight: bold } // Operator
    .cm    { color: #5f5a60; font-style: italic } // Comment.Multiline
    .cp    { color: #5f5a60; font-weight: bold } // Comment.Preproc
    .c1    { color: #5f5a60; font-style: italic } // Comment.Single
    .cs    { color: #5f5a60; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #420e09; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #420e09; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #b22518 } // Generic.Error
    .gh    { color: #000080 } // Generic.Heading
    .gi    { color: #253b22; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #253b22; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #800080; font-weight: bold } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { color: #e9df8f; font-weight: bold } // Keyword.Declaration
    .kp    { color: #9b703f; font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #d14 } // Literal.String
    .na    { color: #f9ee98  } // Name.Attribute
    .nb    { color: #cda869 } // Name.Builtin
    .nc    { color: #9b859d; font-weight: bold } // Name.Class
    .no    { color: #9b859d } // Name.Constant
    .ni    { color: #cf6a4c; font-weight: bold } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #9b703f; font-weight: bold } // Name.Function
    .nn    { color: #9b859d; font-weight: bold } // Name.Namespace
    .nt    { color: #cda869; font-weight: bold } // Name.Tag
    .nv    { color: #7587a6 } // Name.Variable
    .ow    { color: #aa22ff; font-weight: bold } // Operator.Word
    .w     { color: #141414 } // Text.Whitespace
    .mf    { color: #cf6a4c } // Literal.Number.Float
    .mh    { color: #cf6a4c } // Literal.Number.Hex
    .mi    { color: #cf6a4c } // Literal.Number.Integer
    .mo    { color: #cf6a4c } // Literal.Number.Oct
    .sb    { color: #8f9d6a } // Literal.String.Backtick
    .sc    { color: #8f9d6a } // Literal.String.Char
    .sd    { color: #8f9d6a; font-weight: italic } // Literal.String.Doc
    .s2    { color: #8f9d6a } // Literal.String.Double
    .se    { color: #f9ee98; font-weight: bold } // Literal.String.Escape
    .sh    { color: #8f9d6a } // Literal.String.Heredoc
    .si    { color: #daefa3; font-weight: bold } // Literal.String.Interpol
    .sx    { color: #8f9d6a } // Literal.String.Other
    .sr    { color: #e9c062 } // Literal.String.Regex
    .s1    { color: #8f9d6a } // Literal.String.Single
    .ss    { color: #cf6a4c } // Literal.String.Symbol
    .bp    { color: #00aaaa } // Name.Builtin.Pseudo
    .vc    { color: #7587a6 } // Name.Variable.Class
    .vg    { color: #7587a6 } // Name.Variable.Global
    .vi    { color: #7587a6 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long
}
